h1 {
    text-align: center;
}

#HAI {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}

#iie {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}

#button {
    text-align: center;
}

#HAI2 {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}

#iie {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 28px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}
    